body{
	font-family: 'Signika', sans-serif;
	color: black;
	background-color: #ffa31a;
}
table{
	width: 100%;
}

header div{
	padding-bottom: 1%;
}
#aimg{
	float: left;
}
header h1{
	width: 50%;
	padding: 0;
	margin-left: 25%;
	text-align: center;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    
    background-color: #333;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #4CAF50;
}

/*THIS IS THE USERS SECTION*/

#seccionPart{
	margin-top: 0.5%;
	background: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));
	background-color: #6c6069;
	padding: 5%;
	min-height: 500px;
}
#h1part{
	text-align: center;
	color: white;
	margin-top: -3%;
}
#tablaParticipantes{
	border-collapse: collapse;
	color: white;
	width: 850px;
	margin-left: 25%;
}
#tablaParticipantes thead{
	border-collapse: collapse;
	min-width: 900px;
	min-height: 25px;
	max-width: 900px;
	max-height: 25px;
}
#body td{
	border-width: 2px;
	text-align: center;
	border-radius: 48px 48px 48px 48px;
	border: 0px solid #000000;
}
#body tr{
	opacity: 0.5;
	border-collapse: collapse;
	border-bottom: solid grey 0.5px;

}
#body tr:hover{
	opacity: 1;
}

#esconder{
	border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;	
	height: 90px;
	width: 90px;
	background-color: #ffa31a;
	margin-bottom: 8px;
}
#esconder:hover{
	box-shadow: -5px -5px 50px 10px grey;
}

/*THIS IS THE REGISTER SECTION*/

#seccionReg{
	margin-bottom: 0.5%;
	background: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));
	background-color: #6c6069;
	padding: 5%;
	padding-right: 7%;
}
#seccionReg article{
	background-color: white;
	color: black;
	text-align: center;
	padding: 1%;
	padding-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
}
#seccionReg article img{
	width: 150px;
	height: 100px;
}
#formularioRegistro{
	background-color: white;
	color: black;
}
#tablaRegistro td{
	display: block;
}
#tdName{
	color: #595959;
	text-align: justify-all;
}
#tdMail{
	color: #595959;
	text-align: justify-all;
}
#boton{
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 5px 5px #888888;
	background-color: #ffa31a;
	padding: 2%;
	padding-left: 3%;
	padding-right: 3%;
}
#boton:hover{
	box-shadow: 2px 2px 5px 5px #a6a6a6;
}





/*THIS IS THE PLAY SECTION*/

#sectionPlay{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	background: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));
	background-color: #6c6069;
	padding: 5%;
	padding-right: 7%;
}

#articleButPlay{
	background-color: transparent;
	color: black;
	text-align: center;
	padding: 1%;
	padding-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
}

#play{
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 5px 5px #888888;
	background-color: #ffa31a;
	padding: 5%;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
}
#play:hover{
	box-shadow: 2px 2px 5px 5px #a6a6a6;
}

#info{
	text-align: center;
	text-indent: 5%;
	margin-right: 7%;
}

#out{
	background-color: black;
	color: white;
	margin-top: 5%;
	resize: none;
	padding: 1%;
}



/*  THIS IS THE FOOTER*/

footer{
	background: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));
	background-color: #534a51;
	color: white;
	height: 100%;
	text-align: center;
	vertical-align: center;
	margin-bottom: -100%;
	clear: left;
}

footer p{
	line-height:70px;
	text-align:center;	
}
footer a:hover {
    text-decoration: underline;
    text-decoration-color: #ffa31a;
}

footer a{
    color: black;
    text-decoration: none;
}