<!DOCTYPE html>
<html lang="en">

<head>
    <title>IdentificaTest encuesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet" />
</head>
<body style="background-color: black">

<!-- Barra navegación-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top navSize" id="nav" style="background-color: #EDDBF3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/encuestas">ENCUESTAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/sorteo">SORTEO</a>
            </li>
        </ul>
    </div>
</nav>

<!-- modal box to subscription-->

<div class="modal fade" id="unirseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center text-center" style="background-color:  #EDDBF3;">
                <h3 class="modal-title">UNIRSE GRATIS AL SORTEO</h3>
            </div>
            <div class="modal-body justify-content-center text-center" style="background-color: #EDDBF3">
                <h6>Para poder participar en el sorteo debes <b>cubrir una encuesta</b>, y un usuario solo puede participar <b>una vez</b>.</h6>
            </div>
            <div class="modal-footer justify-content-center" style="background-color:  #EDDBF3">
                <a href="/home/encuesta/1"><button type="button" class="btn btn-success">Realizar encuesta</button></a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal box to borrarse-->

<div class="modal fade" id="borrarseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center text-center" style="background-color:  #EDDBF3;">
                <h3 class="modal-title">¿QUIERES BORRARTE DEL SORTEO?</h3>
            </div>
            <div class="modal-body justify-content-center text-center" style="background-color: #EDDBF3">
                <form action="">
                    <div class="row justify-content-center text-center">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="pwd">Contaseña:</label>
                                <input type="password" class="form-control" id="pwd" name="pwd">
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <label><input type="checkbox" name="validate">Validar</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center" style="background-color:  #EDDBF3">
                <a href="#"><button type="button" class="btn btn-success">Borrarse</button></a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- HEADER -->

<header id="header">
    <div class="container rounded" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-top: 7%">
        <div class="row justify-content-center" id="edge">
            <a href="https://www.opositatest.com/"></a>
        </div>
        <div class="row text-center justify-content-center" style="padding-bottom: 20px">
            <h1><b>¡BIENVENIDO AL SORTEO DE IDENTIFICATEST!</b></h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-6 col-10 justify-content-center text-center">
                <h6>Este sorteo es totalmente gratuito y opcional. El requisito para poder participar es únicamente realizar al menos una encuesta.
                    Se realizará el sorteo una vez haya 50 participantes inscritos.
                    Si estas deseando saber si te ha tocado o no, avisa a un amigo y asi lo sabrás antes!</h6>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 5%">
            <h2>SORTEO ACTUAL</h2>
        </div>
        <div class="row justify-content-center text-center">
            <h1>VIAJE PARA <span>2 PERSONAS A LA ISLA DE MADEIRA</span></h1>
        </div>
        <br>
        <br>
        <div class="row text-center justify-content-center" style="padding-bottom: 20px">
            <div class="col-sm-5 unirse-pos" style="padding-bottom: 10px">
                <input type="button" class="btn btn-success" value="Unirse" data-target="#unirseModal" data-toggle="modal">
            </div>
            <div class="col-sm-6 borrarse-pos">
                <input type="button" class="btn btn-warning" value="Dejar de participar" data-target="#borrarseModal" data-toggle="modal">
            </div>
        </div>
    </div>
</header>


<!-- 3ª Sección (Sección del sorteo) -->
<section>
    <div class="container rounded" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-top: 7%; margin-bottom: 1%">
        <div class="row justify-content-center" style="padding-bottom: 3%">
            <h3>HISTORIAL DE SORTEOS</h3>
        </div>
        <div class="row">
            <div class="col-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action bg-warning text-dark text-center">
                        SORTEO 3
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Premio: Viaje 2 personas a Hawai</button>
                    <button type="button" class="list-group-item list-group-item-action">Participantes: 50</button>
                    <button type="button" class="list-group-item list-group-item-action">Fecha: 15/01/2018</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Ganador: Pablo</button>
                </div>
            </div>
            <div class="col-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action bg-warning text-dark text-center">
                        SORTEO 2
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Premio: Viaje 2 personas a Hawai</button>
                    <button type="button" class="list-group-item list-group-item-action">Participantes: 50</button>
                    <button type="button" class="list-group-item list-group-item-action">Fecha: 15/01/2018</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Ganador: Pablo</button>
                </div>
            </div>
            <div class="col-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action bg-warning text-dark text-center">
                        SORTEO 1
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Premio: Viaje 2 personas a Hawai</button>
                    <button type="button" class="list-group-item list-group-item-action">Participantes: 50</button>
                    <button type="button" class="list-group-item list-group-item-action">Fecha: 15/01/2018</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Ganador: Pablo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="paginador">
        <div class="row">
            <div class="col-sm-10 col-6">
                <ul class="pagination" id="menu">
                    <li class="page-item"><input type="button" class="page-link" onclick="previous()" id="prev" value="Anterior"></li>
                </ul>
            </div>
            <div class="col-sm-2 col-6">
                <ul class="pagination ul-pos" id="menu">
                    <li class="page-item"><input type="button" class="page-link" onclick="next()" id="next" value="Siguiente"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer>
    <div class="container-fluid text-center">
        <p>2018&copy; Pablo García Saleta | Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>