/*THIS IS THE USERS SECTION*/
#body tr{
	opacity: 0.6;

}
#body tr:hover{
	opacity: 1;
}

.links a{
	color: white;
} 

.links a:hover{
	text-decoration: none;
}
@media screen and (min-width: 575px) {
	.pull-right {
	float: right;
	}
}
@media screen and (min-width: 575px) {
	.pull-left {
		float: left;
	}
}