body{
  font-family: 'Secular One', sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #EDDBF3;
  color: black;
  padding: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

@media screen and (min-width: 767px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%)
  }
}

@media screen and (min-width: 390px) and (max-width: 1100px) {
  .btn-width {
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .btn-responsive{
    max-width:234px;
  }
}

@media screen and (min-width: 1100px) {
  .btn-width {
    width: 400px;
  }
}

@media screen and (min-width: 990px) {
  .navSize{
    height: 100px;
  }
}

#portfolio {
    padding-bottom: 50px;
}

#imgPort{
    width: 300px;
}


@media screen and (min-width: 576px) {
  .unirse-pos {
    text-align: right;
  }
  .borrarse-pos{
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .ul-pos{
    margin-left: 45px;
  }
    .sizedimg {
        height: 220px;
    }
}

@media screen and (max-width: 990px) {
    .sizedh1{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .sizedPageTitle{
        font-size: 25px;
    }
}

@media screen and (min-width: 600px) {
    .bigTitle{
        font-size: 60px;
    }
}

#portLink {
    text-decoration: none;
    padding: 2%;
    color: black;
}

#portLink:hover {
    filter: opacity(65%);
}

@media screen and (min-width: 1000px) {
    .input-class {
        padding: 5px;
        width: 350px;
        border: 1px solid #6db5f1;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        margin: 10px auto;
        display: block;
    }

    .input-class:focus {
        box-shadow: 0 0 5px #6db5f1;
        width: 500px;
    }
}