body{
  font-family: 'Secular One', sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #EDDBF3;
  color: black;
  padding: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

@media screen and (min-width: 767px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%)
  } 
}

@media screen and (min-width: 390px) and (max-width: 1100px) {
  .btn-width {
    width: 300px;
  } 
}

@media screen and (max-width: 390px) {
  .btn-width {
    width: 200px;
  } 
}

@media screen and (min-width: 1100px) {
  .btn-width {
    width: 400px;
  }
}

@media screen and (max-width: 990px){
    .navSize {
        background-color: black;
    }
}